/*font-family: 'Open Sans', sans-serif;
font-family: 'Zilla Slab', serif;*/
/*
THANKS:
https://glassmorphism.com/
*/

:root {
  --bold: 700;
  --normal: 400;

  --thumbBG: rgba(255, 255, 255, 0.85);
  --scrollbarBG: transparent;
}

*::-webkit-scrollbar {
  width: 11px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  margin: 2px;
}

html,
body {
  height: 100%;
  /*background-image: url(./images/bg.jpg);*/
  /*background-color: hsl(249, 100%, 20%);*/
  color: rgb(241, 241, 241);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: black;
  background-image: radial-gradient(
      farthest-side at 100% 0%,
      rgba(255, 0, 255, 0.5),
      transparent
    ),
    radial-gradient(
      farthest-corner at 0% 100%,
      rgba(255, 50, 50, 0.5),
      transparent
    );
  /* animation:switch 10s ease infinite; */
}

/* @keyframes switch {
  0%,
  100% {
    background-image: radial-gradient(
        farthest-side at 100% 0%,
        rgba(255, 0, 255, 0.5),
        transparent
      )top,
      radial-gradient(
        farthest-corner at 0% 100%,
        rgba(255, 50, 50, 0.5),
        transparent
      );
  }
  25% {
    background-image: radial-gradient(
        farthest-side at 100% 0%,
        rgba(255, 0, 255, 0.5),
        transparent
      ),
      radial-gradient(
        farthest-corner at 0% 100%,
        rgba(255, 50, 50, 0.5),
        transparent
      );
  }
  50% {
    background-image: radial-gradient(
        farthest-side at 100% 0%,
        rgba(255, 0, 255, 0.5),
        transparent
      ),
      radial-gradient(
        farthest-corner at 0% 100%,
        rgba(255, 50, 50, 0.5),
        transparent
      );
  }
  75% {
    background-image: radial-gradient(
        farthest-side at 100% 0%,
        rgba(255, 0, 255, 0.5),
        transparent
      ),
      radial-gradient(
        farthest-corner at 0% 100%,
        rgba(255, 50, 50, 0.5),
        transparent
      );
  }
} */

a {
  color: rgb(241, 241, 241);
  text-decoration: underline rgb(241, 241, 241);
}

.modal_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  display: grid;
  place-items: center;
}

.modal {
  display: flex;
  flex-direction: column;

  padding: 40px 0 0 0;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.form,
.welcome {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 500px;
}

.welcome_title {
  font-size: 2.25em;
  font-weight: var(--bold);
}

.welcome_title,
.welcome_txt {
  margin: 0.75rem 2rem 0 2rem;
}

.welcome_list {
  margin: 0.75rem 2rem 1.75rem 2rem;
}

.welcome_list li {
  padding-left: 1.5rem;
  position: relative;
}

.welcome_list li:first-child:before {
  content: "✏️";
}

.welcome_list li:last-child:before {
  content: "⚙️";
}

.welcome_list li:before {
  content: "📍";
  position: absolute;
  left: 0;
}

.social{
  display:flex;
  margin-bottom:.75rem;
  margin-left: auto;
  margin-right: 2rem;
  gap:.75rem;
}

.social_icon{
  cursor: pointer;
  opacity:.95;
  transition: opacity .3s ease;
}

.form * {
  flex-shrink: 0;
}

.form_label {
  margin: 0 2rem;
  font-size: 1em;
  margin-bottom: 0.25rem;
}

.form_input {
  margin: 0 2rem;
  padding: 0.75rem;
  font-size: 1.25em;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  color: white;

  transition: box-shadow 0.5s ease;
}

.form_input::placeholder {
  color: white;
  opacity: 0.25;
}

.form_input:focus {
  outline: none;
  box-shadow: 0 0 0.5rem 1px white;
}

.checkbox_wrapper,
.radio_container {
  margin: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

/* custom checkbox hack - https://css-tricks.com/the-checkbox-hack/*/

.custom-checkbox {
  width: 40px;
  height: 40px;
  margin-left: 0.5rem;
  background: rgba(255, 255, 255, 0.35);
  display: grid;
  place-items: center;
  border-radius: 100%;
  transform: rotate(0);
  opacity: 0.45;
  transition: transform 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    opacity 0.5s linear, box-shadow 0.5s ease;
}

.custom-checkbox_icon {
  font-size: 1.25em;
}

.form_checkbox:focus ~ .custom-checkbox {
  box-shadow: 0 0 0.5rem 1px white;
  opacity: 1;
}

.form_checkbox:focus ~ .custom-checkbox {
  box-shadow: 0 0 0.5rem 1px white;
  opacity: 1;
}

.form_checkbox:checked ~ .custom-checkbox {
  transform: rotate(-180deg);
  opacity: 1;
}

/*RADIO*/
.radio_label {
  margin-left: 2rem;
}
.radio_container {
  justify-content: space-between;
}

.radio_wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: row-reverse;
  flex: 1;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.35);
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0.5;
  transition: all 0.25s ease;
}

.radio_wrapper:first-of-type {
  margin-right: 0.5rem;
}

.radio_wrapper.-focused {
  box-shadow: 0 0 0.5rem white;
  opacity: 1;
}

/**since there's not a parent selector on css, i have to addClass here to make it "selected"*/

.radio_wrapper.-checked {
  opacity: 1;
}

.custom-radio_icon {
  font-size: 1.5em;
  display: inline-block;
  transform: translateY(0);
  transition: all 0.25s ease;
}

.custom-radio_icon::before {
  content: "✊";
  display: inline-block;
  width: 30px;
  transform: translateY(15px);
  opacity: 0.35;
  transition: all 0.35s ease;
}

.form_radio:checked ~ .custom-radio > .custom-radio_icon::before {
  content: "☝️";
  transform: translateY(0);
  opacity: 1;
}

.seconds_label {
  margin: 1rem 2rem;
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.form_input.-seconds {
  font-size: 1em;
  width: 45px;
  height: 40px;
  margin: 0;
}

.seconds_label.-inactive {
  opacity: 0;
  transform: translateX(-10px);
  pointer-events: none;
}

.form_btn,
.welcome_btn {
  padding: 1rem;
  background-image: radial-gradient(
    farthest-corner at 0% 100%,
    rgb(128 2 2),
    #e83e3e
  );
  filter: drop-shadow(0 0 5px rgba(232, 62, 62, 0.5));
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  border: 0;
  font-family: "Inter", sans-serif;
  font-weight: var(--bold);
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.13);
  font-size: 1.25em;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  transition: all 0.2s ease;
}

.loading_icon {
  animation: rotate 3s linear infinite;
}

.error_title {
  font-size: 2em;
  font-weight: var(--bold);
  text-align: center;
  margin-bottom: 2rem;
}

.error_message_wrap {
  background: white;
  border-radius: 5px;
  padding: 0.75rem;
  margin: 0.5rem 2rem;
}

.error_message {
  color: rgb(74 2 2);
}

.error_message::before {
  content: "⚠ ";
  font-size: 1.25em;
}

.error_default {
  margin: 1rem 2rem;
}

@keyframes rotate {
  to {
    transform: rotate(320deg);
  }
}

main {
  width: 100%;
  height: 100%;
  /*background-color: rgba(0,0,0,.65);*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 80% 10%;
}

.msg {
  grid-row: 1/2;
  grid-column: 1/4;
}

.msg_text {
  white-space: nowrap;
  font-weight: var(--bold);
  font-size: clamp(2rem, 3vw, 4rem);
  margin: 1rem 3rem;
  /*truncated text - https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/*/
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news {
  width: calc(100% - 2rem);
  height: calc(100% - 3rem);
  margin: 1rem;
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  grid-column: 1/4;
  grid-row: 2/4;
}

.news.-scrollable {
  overflow-x: scroll;
  transition: none;
}

.temp-news__wrap.-scrollable {
  top: 0;
  transform: none;
  overflow-y: scroll;
  transition: none;
}

.news.-full_height {
  grid-row: 1/4;
}

.news_wrap {
  position: relative;
  transition: transform 0.35s ease;
}

/* .news.-scrollable{
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  cursor:grab;
}

.news.-scrollable > .news__article{
  scroll-snap-align: start;
} */

.temp-news {
  grid-column: 4/5;
  grid-row: 2/4;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  /*background-color: rgba(0,0,0,.15);
    border: 2px solid white;*/

  margin: 1rem;
  overflow-y: hidden;
  overflow-x: visible;
  position: relative;
}

.temp-news__wrap {
  position: relative;
  transform: translateY(calc((100% / 3) * -1));
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: calc(100% / 3); /*33.33333333333333%;*/

  transition: transform 0.5s ease;
}

.temp-news__container {
  padding: 1rem;
  font-size: 1.5em;

  font-weight: var(--bold);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.temp-news__title {
  font-weight: var(--bold);
}

.news__article {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: absolute;
  transition: left 0.5s ease;
}

.news__article.-first {
  left: 0;
}

.article__title {
  font-size: clamp(1.6rem, 4vw, 4.5rem);
  font-weight: var(--bold);
  line-height: 1.15;
}

.article__txt {
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 1.5;
  margin-top: 1rem;
}

.article__small {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

.info {
  grid-column: 4/5;
  grid-row: 1/2;

  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.temperature__degrees {
  font-size: 2em;
}

.time_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: right;
}

.time {
  font-size: 2em;
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: left;
}

.-hidden {
  display: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@media only screen and (max-width: 1150px) {
  .temp-news {
    display: none;
  }

  .msg_text {
    margin: 1rem;
  }

  .news {
    grid-column: 1/5;
    grid-row: 2/4;
    margin: 0.5rem;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
  }

  .news.-full_height {
    grid-row: 2/4;
  }

  .news__article {
    padding: 1rem;
  }

  .info {
    grid-column: 1/5;
    grid-row: 1/2;
    margin: 0.5rem 1rem;
  }

  .temperature {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .time_container {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .temperature {
    font-size: 0.9em;
    line-height: 0.99;
    margin-top: auto;
  }

  .modal {
    width: 90%;
  }

  .form,
  .welcome {
    min-width: 100%;
  }

  .form > label,
  .seconds_label {
    font-size: 0.9em;
  }

  .form_input,
  .radio_container,
  .seconds_label,
  .form > label,
  .form > .radio_label {
    margin: 0.5rem 1rem;
  }

  .msg {
    display: flex;
  }

  .msg_text {
    margin-top: auto;
  }
}

@media (hover: hover) {
  .form_input:hover {
    outline: none;
    box-shadow: 0 0 0.5rem 1px white;
  }

  .form_btn:hover,
  .welcome_btn:hover {
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.13);
    filter: drop-shadow(0 0 10px rgba(232, 62, 62, 0.5));
    transform: translateY(-1px);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  }

  .radio_wrapper:hover,
  .radio_wrapper.-focused {
    box-shadow: 0 0 0.5rem white;
    opacity: 1;
  }

  .checkbox_wrapper:hover > .custom-checkbox,
  .form_checkbox:focus ~ .custom-checkbox {
    box-shadow: 0 0 0.5rem 1px white;
    opacity: 1;
  }

  .social_icon:hover{
    opacity:.55;
  }
}
